# DAY 4: PANDAS

**Milestone Action Items**

Download the data set about Value of Energy Cost Saving Program for businesses in New York City (under the "Export" option, there is a way to retrieve a CSV file). Answer the following questions.

1. ~~How many different companies are represented in the data set?~~
2. ~~What is the total number of jobs created for businesses in Queens?~~
3. ~~How many different unique email domains names are there in the data set?~~
4. ~~Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?~~
5. ~~Save your result for the previous question as a CSV file.~~

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')
df

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,...,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,"WONTON FOOD, INC.",DONALD LAU,donaldlau@wontonfood.com,7186286868,220-222 MOORE STREET,Brooklyn,NY,11206,Manufacturing,"MFG. PASTA, EGGROLL SKINS",...,965843.58,Brooklyn,40.704425,-73.936010,301.0,34.0,485.0,3071539.0,3.031090e+09,Bushwick South
446,Wood Works,Gordon Brawm,brawnworks@gmail.com,9179404950,162 Cook Street,Brooklyn,NY,11206,Manufacturing,Installer of wood furniture,...,3585.40,Brooklyn,40.702869,-73.936466,301.0,34.0,485.0,3071625.0,3.031230e+09,Bushwick South
447,"WorldWide Plumbing Supply, Inc.",Surie Lefkowitz,sheidya@wwps.com,7188533002,125 Lake Avenue,Staten Island,NY,10303,Manufacturing,"Plumbing Fixtures, Parts & Supplies, Plumbers",...,20487.73,Staten Island,40.633518,-74.150942,501.0,49.0,239.0,5107122.0,5.011610e+09,Mariner's Harbor-Arlington-Port Ivory-Granitev...
448,WUD Furniture LLC,Keren Springer,keren@wudfurniture.com,7184867952,1102 Atlantic Avenue,Brooklyn,NY,11238,Manufacturing,"We make handcrafted furniture, surfaces, lighting",...,12287.32,Brooklyn,40.679518,-73.956819,308.0,35.0,305.0,3027572.0,3.011260e+09,Crown Heights North
449,Wurtec Incorporated,Bill Popp,bill.popp@wurtec.com,4197261066,31-50 31st Street,Lond Island City,NY,11106,Wholesale/Warehouse/Distribution,Elevator tooling products,...,0.00,Queens,40.763148,-73.924442,401.0,22.0,61.0,4007562.0,4.005890e+09,Astoria

## 1. How many different companies are represented in the data set?

In [4]:
df['Company Name'].count()

450

## 2. What is the total number of jobs created for businesses in Queens?

In [5]:
df.columns

Index(['Company Name', 'company contact', 'company email', 'company phone',
       'Address', 'City', 'State', 'Postcode', 'Industry', 'Industry descr',
       'Company Type', 'Current fulltime', 'Job created', 'Job retain',
       'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Borough', 'Latitude',
       'Longitude', 'Community Board', 'Council District', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [6]:
df['City'].value_counts()

Brooklyn               170
Queens                  67
Long Island City        53
Bronx                   35
New York                32
BROOKLYN                10
Staten Island            9
Maspeth                  6
Lond Island City         6
BRONX                    6
College Point            5
Jamaica                  5
LONG ISLAND CITY         5
QUEENS                   5
NEW YORK                 3
Astoria                  3
NY                       3
Woodside                 3
Flushing                 2
Ridgewood                2
Brookln                  2
Ozone Park               2
GLENDALE                 1
L.I.C.                   1
INWOOD                   1
PORT MORRIS              1
RIDGEWOOD                1
COLLEGE POINT            1
Far Rockaway             1
Brooklym                 1
Forest Hills             1
Queens Village           1
BROOKLYN HEIGHT          1
Springfield Gardens      1
Brooklyn,                1
New YOrk                 1
Bronx,                   1
bronx                    1
Name: City, dtype: int64

Looking at this list, there are a lot of places in Queens that aren't listed as Queens (e.g. "College Point", "QUEENS"). I will manually make a list of all of the Queens neighborhoods/misspellings listed here.

In [7]:
queens_names = ['Queens', 'College Point', 'Jamaica', 'QUEENS', 'Astoria', 'Woodside', 'Flushing', 'Ridgewood', 'Ozone Park', 'GLENDALE', 'RIDGEWOOD', 'COLLEGE POINT', 'Forest Hills', 'Queens Village', 'Springfield Gardens']
queens_idx = df['City'].isin(queens_names)

jobs_created_queens = df['Job created'].loc[queens_idx].sum()
print(jobs_created_queens)

102.0

## 3. How many different unique email domains names are there in the data set?

In [8]:
email = df['company email']
domains = email.str.extractall(r"@(.*)$")
domains.nunique()[0]

356

## 4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [11]:
pd.set_option('display.max_rows', 100)
NTA_idx = df['NTA'].value_counts() > 5
NTA_names = NTA_idx[NTA_idx].index

filt = df['NTA'].isin(NTA_names)
A = df[['NTA','Total Savings','Job created']].loc[filt]

In [12]:
avg_savings = A.groupby(['NTA']).mean()[['Total Savings']]
avg_savings

                                                  Total Savings
NTA
Battery Park City-Lower Manhattan                 469890.796667
Bushwick South                                     26140.455000
Carroll Gardens-Columbia Street-Red Hook           24337.390000
College Point                                      17159.372857
Crown Heights North                                 4036.298889
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill   59950.340000
East New York                                      48433.093333
East Williamsburg                                  13990.626364
Greenpoint                                          9753.649286
Hunters Point-Sunnyside-West Maspeth               23931.398933
Hunts Point                                        39246.016154
Manhattanville                                      2760.888889
Maspeth                                             6658.283333
Mott Haven-Port Morris                             17843.937857
Queensbridge-Ravenswood-Long Island City           61830.770625
Steinway                                           11227.155714
Sunset Park West                                   14316.976875
park-cemetery-etc-Brooklyn                         14327.419333

In [15]:
total_jobs = A.groupby(['NTA']).sum()[['Job created']]
total_jobs

                                                  Job created
NTA
Battery Park City-Lower Manhattan                         0.0
Bushwick South                                           10.0
Carroll Gardens-Columbia Street-Red Hook                  0.0
College Point                                             2.0
Crown Heights North                                       0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill          0.0
East New York                                            15.0
East Williamsburg                                         0.0
Greenpoint                                                0.0
Hunters Point-Sunnyside-West Maspeth                      0.0
Hunts Point                                              12.0
Manhattanville                                            0.0
Maspeth                                                  10.0
Mott Haven-Port Morris                                   10.0
Queensbridge-Ravenswood-Long Island City                  0.0
Steinway                                                 20.0
Sunset Park West                                          0.0
park-cemetery-etc-Brooklyn                                0.0

## 5. Save your result for the previous question as a CSV file.

In [16]:
results = pd.concat([avg_savings,total_jobs],axis=1)
results.rename(columns={"Total Savings":"Average savings","Job created":"Total jobs created"},inplace=True)
results.to_csv('Day4_results.csv')